.App {
  text-align: center;
  
}

.App-logo {
  width: 100px;
}


.App-header {
  background-color: #1A2A33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Outfit';
}


